<!-- general-data.component.html -->
<form [formGroup]="generalForm" (ngSubmit)="onSubmit()">
  <div class="form-group">
    <label for="fechaIngreso">Fecha de ingreso</label>
    <input type="date" class="form-control" id="fechaIngreso" formControlName="fechaIngreso">
    <div *ngIf="generalForm?.get('fechaIngreso')?.touched && generalForm?.get('fechaIngreso')?.hasError('required')" class="text-danger">
      Fecha de ingreso es requerida.
    </div>
  </div>

  <div class="form-group">
    <label for="nombreCompleto">Nombre completo</label>
    <input type="text" class="form-control" id="nombreCompleto" formControlName="nombreCompleto">
    <div *ngIf="generalForm?.get('nombreCompleto')?.touched && generalForm?.get('nombreCompleto')?.hasError('required')" class="text-danger">
      Nombre completo es requerido.
    </div>
  </div>

  <div class="form-group">
    <label for="numeroCedula">Número de cédula</label>
    <input type="text" class="form-control" id="numeroCedula" formControlName="numeroCedula">
    <div *ngIf="generalForm?.get('numeroCedula')?.touched && generalForm?.get('numeroCedula')?.hasError('required')" class="text-danger">
      Número de cédula es requerido.
    </div>
  </div>

  <div class="form-group">
    <label for="fechaNacimiento">Fecha de nacimiento</label>
    <input type="date" class="form-control" id="fechaNacimiento" formControlName="fechaNacimiento">
    <div *ngIf="generalForm?.get('fechaNacimiento')?.touched && generalForm?.get('fechaNacimiento')?.hasError('required')" class="text-danger">
      Fecha de nacimiento es requerida.
    </div>
  </div>

  <div class="form-group">
    <label for="edad">Edad</label>
    <input type="number" class="form-control" id="edad" formControlName="edad">
    <div *ngIf="generalForm?.get('edad')?.touched && generalForm?.get('edad')?.hasError('required')" class="text-danger">
      Edad es requerida.
    </div>
  </div>

  <div class="form-group">
    <label for="sexo">Sexo</label>
    <select class="form-control" id="sexo" formControlName="sexo">
      <option value="Hombre">Hombre</option>
      <option value="Mujer">Mujer</option>
    </select>
    <div *ngIf="generalForm?.get('sexo')?.touched && generalForm?.get('sexo')?.hasError('required')" class="text-danger">
      Sexo es requerido.
    </div>
  </div>

  <div class="form-group">
    <label for="estadoCivil">Estado civil</label>
    <select class="form-control" id="estadoCivil" formControlName="estadoCivil">
      <option value="Soltero">Soltero</option>
      <option value="Casado">Casado</option>
      <option value="Divorciado">Divorciado</option>
      <option value="Viudo">Viudo</option>
    </select>
    <div *ngIf="generalForm?.get('estadoCivil')?.touched && generalForm?.get('estadoCivil')?.hasError('required')" class="text-danger">
      Estado civil es requerido.
    </div>
  </div>

  <div class="form-group">
    <label for="nacionalidad">Nacionalidad</label>
    <input type="text" class="form-control" id="nacionalidad" formControlName="nacionalidad">
    <div *ngIf="generalForm?.get('nacionalidad')?.touched && generalForm?.get('nacionalidad')?.hasError('required')" class="text-danger">
      Nacionalidad es requerida.
    </div>
  </div>

  <div class="form-group">
    <label for="condicionLaboral">Condición laboral</label>
    <input type="text" class="form-control" id="condicionLaboral" formControlName="condicionLaboral">
    <div *ngIf="generalForm?.get('condicionLaboral')?.touched && generalForm?.get('condicionLaboral')?.hasError('required')" class="text-danger">
      Condición laboral es requerida.
    </div>
  </div>

  <div class="form-group">
    <label for="gradoAcademico">Grado académico</label>
    <select class="form-control" id="gradoAcademico" formControlName="gradoAcademico">
      <option value="Primaria">Primaria</option>
      <option value="Secundaria">Secundaria</option>
      <option value="Universitaria">Universitaria</option>
    </select>
    <div *ngIf="generalForm?.get('gradoAcademico')?.touched && generalForm?.get('gradoAcademico')?.hasError('required')" class="text-danger">
      Grado académico es requerido.
    </div>
  </div>
  <br>
  <button type="submit" class="btn btn-primary">Guardar y Continuar</button>
</form>
