<section class="vh-100" style="background-color:#FF6F3D  ; " >
  <div class="container py-5 h-100" > 
    <div class="row d-flex justify-content-center align-items-center" >
      <div class="col col-xl-10" >
        <div class="card">
          <div class="row g-0">
            <div class="col-md-6 col-lg-5 d-none d-md-block">
              <img
                src="https://images.pexels.com/photos/7111954/pexels-photo-7111954.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
                alt="login form" class="img-fluid w-100"
                style="border-radius: 1rem 0 0 1rem; height: 100%; object-fit: cover;" />
            </div>
            <div class="col-md-6 col-lg-7 d-flex align-items-center">
              <div class="card-body p-4 p-lg-5 text-black">

                <form [formGroup]="loginForm" (ngSubmit)="login();">

                  <div class="d-flex align-items-center mb-3 pb-1">
                    <i class="fas fa-cubes fa-2x me-3" style="color: #ff6219;"></i>
                    <label class="h1 fw-bold inicio-ses-label">Inicia sesión</label>
                  </div>


                  <div class="form-outline mb-4 id-input">
                    <label class="form-label" for="id-label">Correo electrónico</label>
                    <input class="form-control form-control-lg" type="text" 
                      formControlName="email" [class.is-invalid]="emailInvalid">
                    <small *ngIf="emailInvalid" class="text-danger" role="alert" style="position: absolute;">
                      El campo es requerido
                    </small>
                  </div>

                  

                  <div class="form-outline mb-4 password-input">
                    <label class="form-label" for="psw-label">Contraseña</label>
                    <input type="password" id="password" class="form-control form-control-lg"
                      formControlName="password" />
                    <a class="small text-muted forget" href="#!">¿Olvidó la contraseña?</a>
                  </div>
                  <div class="col-md-12 mb-3" *ngIf="errorMessage">
                    <div class="alert alert-danger" role="alert">
                      {{message}}
                    </div>
                  </div>
                  <div class="as pt-1 mb-4">
                    <button class="btn btn-lg btn-block" type="submit">Ingresar</button>
                  </div>

                  <p class="mb-5 pb-lg-2" style="color: #393f81;">¿No tienes cuenta?<a href="#!"
                      style="color: #393f81; margin-left: 0.5rem;">Registrate aquí </a></p>


                </form>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>