label{
  color: #2A4B9E;
  margin-top: 0.5rem;
  font-weight: bold;
}
button{
  color: #2A4B9E;
  width: 100%;
}
button:hover{
  color:#2A4B9E;
  background-color: black;
  font-weight: bold;
  border: 1px solid #2A4B9E;
}

.inicio-ses{
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1rem;
}

.card{
  border: empty;
}

.forget{
  color: #2A4B9E!important;
}

p{
  color: #2A4B9E;
}