nav{

   background-color: #2A4B9E !important;
   padding: 25px 25px;
}

a{
    color: #FFFFFF !important;
    font-size: larger;
}

.dropdown-item {
    
    color: black !important;
}
a:hover{

    color: #FF6F3D !important;
}