nav{
   border-bottom: 4px solid  #2A4B9E;
   background-color: #FFFFFF !important;

   background-color: #2A4B9E !important;
   padding: 25px 25px;
  
}

a{
    color: #FFFFFF !important;
    font-size: larger;
}

.dropdown-item {
    
    color: black !important;
}
a:hover{

    color: #FF6F3D !important;
}

.navbar-brand{
    padding:5px;
    background-color: white; border-radius: 50% ;
    
    img{       
        margin-left:0.3rem;
    }
}