nav{
   border-bottom: 4px solid  #2A4B9E;
   background-color: #FFFFFF !important;
   padding: 25px 25px;
  
}

a{

    color: #2A4B9E !important;
    font-size: larger;
}

a:hover{

    color: #FF6F3D !important;
}