<section class="register-sect" style="background-color: #FF6F3D;">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center">
      <div class="col col-xl-10">
        <div class="card" style="border-radius: 1rem;">
          <div class="row g-0">
            <div class="col-md-6 col-lg-7 d-flex align-items-center">
              <div class="card-body p-4 p-lg-5 text-black">
                <form [formGroup]="registerForm" (ngSubmit)="register();">
                  <div class="d-flex align-items-center mb-3 pb-1">
                    <i class="fas fa-cubes fa-2x me-3" style="color: #ff6219;"></i>
                    <label class="h1 fw-bold reg-label">Registro</label>
                  </div>

                  <div class="form-outline mb-4">
                    <label class="form-label" for="name-label">Nombre</label>
                    <input class="form-control form-control-lg" type="text" formControlName="name" pattern="[a-zA-Z ]*" [class.is-invalid]="nameInvalid">
                    <small *ngIf="nameInvalid" class="text-danger" role="alert">El campo es requerido y solo debe contener letras</small>
                  </div>
                  
                  <div class="form-outline mb-4">
                    <label class="form-label" for="name-label">Primer apellido</label>
                    <input class="form-control form-control-lg" type="text" formControlName="firstLastName" pattern="[a-zA-Z ]*" [class.is-invalid]="firstLastNameInvalid">
                    <small *ngIf="firstLastNameInvalid" class="text-danger" role="alert">El campo es requerido y solo debe contener letras</small>
                  </div>
                  
                  <div class="form-outline mb-4">
                    <label class="form-label" for="name-label">Segundo apellido</label>
                    <input class="form-control form-control-lg" type="text" formControlName="secondLastName" pattern="[a-zA-Z ]*" [class.is-invalid]="secondLastNameInvalid">
                    <small *ngIf="secondLastNameInvalid" class="text-danger" role="alert">El campo es requerido y solo debe contener letras</small>
                  </div>

                  <div class="form-outline mb-4">
                    <label class="form-label" for="email-label">Correo Electrónico</label>
                    <input class="form-control form-control-lg" type="email" formControlName="email"
                      [class.is-invalid]="emailInvalid">
                    <small *ngIf="emailInvalid" class="text-danger" role="alert">
                      El campo es requerido y debe ser un correo válido
                    </small>
                  </div>

                  <div class="form-outline mb-4">
                    <label class="form-label" for="password-label">Contraseña</label>
                    <input type="password" class="form-control form-control-lg" formControlName="password" [class.is-invalid]="passwordInvalid">
                    <small *ngIf="passwordInvalid" class="text-danger" role="alert">La contraseña debe tener al menos 8 caracteres y contener al menos un símbolo</small>
                  </div>

                  <div class="as pt-1 mb-4">
                    <button class="btn btn-lg btn-block" type="submit">Registrarse</button>
                  </div>

                  <div class="col-md-12 mb-3" *ngIf="errorMessage">
                    <div class="alert alert-danger" role="alert">
                      {{message}}
                    </div>
                  </div>
                </form>
              </div>
            </div>
            <div class="col-md-6 col-lg-5 d-none d-md-block"  >
              <img  src="https://images.pexels.com/photos/6801680/pexels-photo-6801680.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
                alt="register form" class="w-100"
                style="border-radius: 1rem; height: 100%; object-fit: cover;" />
            </div>
          </div>
          
        </div>
      </div>
    </div>
  </div>
</section>
